<h1>Hello, {{ username }}</h1>

<input type="text" [(ngModel)]="message"> <br>
<button (click)="postFeed()">Post</button>

<hr>

<h1>Feeds:</h1>
<br><br>
<div *ngFor="let feed of feeds">
Username: {{ feed['username'] }} <br>
Message: {{ feed['message'] }}
<br><br>
</div>
